[XDebug]
{% if (pecl_configurations.xdebug_zend_extension is defined) %}
zend_extension="{{ pecl_configurations.xdebug_zend_extension }}"
{% endif %}
{% if (pecl_configurations.xdebug_coverage_enable is defined) %}
xdebug.coverage_enable={{ pecl_configurations.xdebug_coverage_enable }}
{% endif %}
{% if (pecl_configurations.xdebug_default_enable is defined) %}
xdebug.default_enable={{ pecl_configurations.xdebug_default_enable }}
{% endif %}
{% if (pecl_configurations.xdebug_remote_enable is defined) %}
xdebug.remote_enable={{ pecl_configurations.xdebug_remote_enable }}
{% endif %}
{% if (pecl_configurations.xdebug_remote_connect_back is defined) %}
xdebug.remote_connect_back={{ pecl_configurations.xdebug_remote_connect_back }}
{% endif %}
{% if (pecl_configurations.xdebug_remote_host is defined) %}
xdebug.remote_host={{ pecl_configurations.xdebug_remote_host }}
{% endif %}
{% if (pecl_configurations.xdebug_remote_port is defined) %}
xdebug.remote_port={{ pecl_configurations.xdebug_remote_port }}
{% endif %}
{% if (pecl_configurations.xdebug_remote_handler is defined) %}
xdebug.remote_handler={{ pecl_configurations.xdebug_remote_handler }}
{% endif %}
{% if (pecl_configurations.xdebug_remote_log is defined) %}
xdebug.remote_log={{ pecl_configurations.xdebug_remote_log }}
{% endif %}
{% if (pecl_configurations.xdebug_remote_autostart is defined) %}
xdebug.remote_autostart={{ pecl_configurations.xdebug_remote_autostart }}
{% endif %}
{% if (pecl_configurations.xdebug_idekey is defined) %}
xdebug.idekey="{{ pecl_configurations.xdebug_idekey }}"
{% endif %}
{% if (pecl_configurations.xdebug_max_nesting_level is defined) %}
xdebug.max_nesting_level={{ pecl_configurations.xdebug_max_nesting_level }}
{% endif %}